@media (min-width: 1191px) {
  .container-select {
    display: flex;
  }

  .titulo-h1-select {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
    color: #000;
    margin-top: 15vh;
    z-index: 2;
  }
  .select-button {
    display: flex;
    flex-direction: column;
  }
  .titulo-h2-select {
    opacity: 0.5;
    position: fixed;
    top: 2;
    width: 100%;
    height: 100%;
    background-image: url("../../img/logo-tranpartente-grande.png");
    background-repeat: repeat;
    z-index: 1;
  }

  .select-ul {
    list-style: none;
    z-index: 2;
    margin: 0% 0% 0% 10%; /* Remova a margem padrão */
    display: flex; /* Altere para flex para os itens ficarem lado a lado */
    flex-wrap: wrap; /* Para que os itens possam ser envolvidos para a próxima linha */
  }

  .select-ul li {
    width: calc(40% - 10px); /* Defina a largura do item conforme necessário */
    margin: 10px 25px 0px 0px;
    box-sizing: border-box; /* Certifique-se de que a largura inclua padding e bordas */
  }

  .select-ul-container {
    width: 100%; /* Aumentando a largura do container dos detalhes dos exercícios */
    display: flex;
    flex-wrap: wrap;
    padding: 10px; /* Adicionando um pouco de espaço ao redor dos detalhes dos exercícios */
  }

  .select-h4 {
    margin-bottom: 0px;
    padding: 5px;
    background-color: #000;
    font-family: "Arial", sans-serif;
    font-size: 2em;
    color: #0f0; /* Cor do texto neon */
  }

  .select-detalhes {
    margin-bottom: 10px;
    width: 100%; /* Garantindo que os detalhes ocupem toda a largura do container */
    background-color: #3c4858;
    padding: 10px;
    color: #fff;
  }
  .select-detalhes-p1 {
    font-weight: bold;
    background-color: #0f0;
    color: #000;
    text-align: center;
  }
  .select-detalhes-p2 {
    font-size: larger;
  }
  .select-detalhes-p3 {
    background-color: #fff;
    color: #000;
    font-weight: bold;
  }
  .select-detalhes-icon {
    font-size: 30px;
  }

  .baseboard-select {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 8px;
    background-color: #000000bd;
    z-index: 1;
    margin-top: 1px;
  }
}
@media (min-width: 935px) and (max-width: 1190px) {
  .container-select {
    display: flex;
  }

  .titulo-h1-select {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
    color: #000;
    margin-top: 2.9em;
    z-index: 2;
  }
  .select-button {
    display: flex;
    flex-direction: column;
    font-size: 2em;
  }
  .titulo-h2-select {
    opacity: 0.5;
    position: fixed;
    top: 2;
    width: 100%;
    height: 100%;
    background-image: url("../../img/logo-tranpartente-grande.png");
    background-repeat: repeat;
    z-index: 1;
  }

  .select-ul {
    list-style: none;
    z-index: 2;
    margin: 0% 0% 0% 10%; /* Remova a margem padrão */
    display: flex; /* Altere para flex para os itens ficarem lado a lado */
    flex-wrap: wrap; /* Para que os itens possam ser envolvidos para a próxima linha */
  }

  .select-ul li {
    width: calc(40% - 10px); /* Defina a largura do item conforme necessário */
    margin: 10px 25px 0px 0px;
    box-sizing: border-box; /* Certifique-se de que a largura inclua padding e bordas */
  }

  .select-ul-container {
    width: 100%; /* Aumentando a largura do container dos detalhes dos exercícios */
    display: flex;
    flex-wrap: wrap;
    padding: 10px; /* Adicionando um pouco de espaço ao redor dos detalhes dos exercícios */
  }

  .select-h4 {
    margin-bottom: 0px;
    padding: 5px;
    background-color: #000;
    font-family: "Arial", sans-serif;
    font-size: 2em;
    color: #0f0; /* Cor do texto neon */
  }

  .select-detalhes {
    margin-bottom: 10px;
    width: 100%; /* Garantindo que os detalhes ocupem toda a largura do container */
    background-color: #3c4858;
    padding: 10px;
    color: #fff;
  }
  .select-detalhes-p1 {
    font-weight: bold;
    background-color: #0f0;
    color: #000;
    text-align: center;
  }
  .select-detalhes-p2 {
    font-size: larger;
  }
  .select-detalhes-p3 {
    background-color: #fff;
    color: #000;
    font-weight: bold;
  }
  .select-detalhes-icon {
    font-size: 30px;
  }

  .baseboard-select {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 2em;
    margin-top: 25em;
    background-color: #000000bd;
    z-index: 1;
  }
}
@media (min-width: 541px) and (max-width: 934px) {
  .container-select {
    display: flex;
  }

  .titulo-h1-select {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
    color: #000;
    margin-top: 1.9em;
    z-index: 2;
  }
  .select-button {
    display: flex;
    flex-direction: column;
  }
  .titulo-h2-select {
    opacity: 0.5;
    position: fixed;
    top: 2;
    width: 100%;
    height: 100%;
    background-image: url("../../img/logo-tranpartente-grande.png");
    background-repeat: repeat;
    z-index: 1;
  }

  .select-ul {
    list-style: none;
    z-index: 2;
    margin: 0% 0% 0% 10%; /* Remova a margem padrão */
    display: flex; /* Altere para flex para os itens ficarem lado a lado */
    flex-wrap: wrap; /* Para que os itens possam ser envolvidos para a próxima linha */
  }

  .select-ul li {
    width: calc(40% - 10px); /* Defina a largura do item conforme necessário */
    margin: 10px 25px 0px 0px;
    box-sizing: border-box; /* Certifique-se de que a largura inclua padding e bordas */
  }

  .select-ul-container {
    width: 100%; /* Aumentando a largura do container dos detalhes dos exercícios */
    display: flex;
    flex-wrap: wrap;
    padding: 10px; /* Adicionando um pouco de espaço ao redor dos detalhes dos exercícios */
  }

  .select-h4 {
    margin-bottom: 0px;
    padding: 5px;
    background-color: #000;
    font-family: "Arial", sans-serif;
    font-size: 2em;
    color: #0f0; /* Cor do texto neon */
  }

  .select-detalhes {
    margin-bottom: 10px;
    width: 100%; /* Garantindo que os detalhes ocupem toda a largura do container */
    background-color: #3c4858;
    padding: 10px;
    color: #fff;
  }
  .select-detalhes-p1 {
    font-weight: bold;
    background-color: #0f0;
    color: #000;
    text-align: center;
  }
  .select-detalhes-p2 {
    font-size: larger;
  }
  .select-detalhes-p3 {
    background-color: #fff;
    color: #000;
    font-weight: bold;
  }
  .select-detalhes-icon {
    font-size: 30px;
  }

  .baseboard-select {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 8px;
    margin-top: 14.1em;
    background-color: #000000bd;
    z-index: 1;
  }

}
@media (min-width: 541px) and (max-width: 934px) {
  .container-select {
    display: flex;
  }

  .titulo-h1-select {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
    color: #000;
    margin-top: 2.5em;
    z-index: 2;
  }
  .select-button {
    display: flex;
    flex-direction: column;
  }
  .titulo-h2-select {
    opacity: 0.5;
    position: fixed;
    top: 2;
    width: 100%;
    height: 100%;
    background-image: url("../../img/logo-tranpartente-grande.png");
    background-repeat: repeat;
    z-index: 1;
  }

  .select-ul {
    list-style: none;
    z-index: 2;
    margin: 0% 0% 0% 10%; /* Remova a margem padrão */
    display: flex; /* Altere para flex para os itens ficarem lado a lado */
    flex-wrap: wrap; /* Para que os itens possam ser envolvidos para a próxima linha */
  }

  .select-ul li {
    width: calc(40% - 10px); /* Defina a largura do item conforme necessário */
    margin: 10px 25px 0px 0px;
    box-sizing: border-box; /* Certifique-se de que a largura inclua padding e bordas */
  }

  .select-ul-container {
    width: 100%; /* Aumentando a largura do container dos detalhes dos exercícios */
    display: flex;
    flex-wrap: wrap;
    padding: 10px; /* Adicionando um pouco de espaço ao redor dos detalhes dos exercícios */
  }

  .select-h4 {
    margin-bottom: 0px;
    padding: 5px;
    background-color: #000;
    font-family: "Arial", sans-serif;
    font-size: 2em;
    color: #0f0; /* Cor do texto neon */
  }

  .select-detalhes {
    margin-bottom: 10px;
    width: 100%; /* Garantindo que os detalhes ocupem toda a largura do container */
    background-color: #3c4858;
    padding: 10px;
    color: #fff;
  }
  .select-detalhes-p1 {
    font-weight: bold;
    background-color: #0f0;
    color: #000;
    text-align: center;
  }
  .select-detalhes-p2 {
    font-size: larger;
  }
  .select-detalhes-p3 {
    background-color: #fff;
    color: #000;
    font-weight: bold;
  }
  .select-detalhes-icon {
    font-size: 30px;
  }

  .baseboard-select {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 8px;
    background-color: #000000bd;
    z-index: 1;
    margin-top: 0px;
  }
}
@media (min-width: 350px) and (max-width: 540px) {
  .container-select {
    display: flex;
  }

  .titulo-h1-select {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
    color: #000;
    margin-top: 15vh;
    z-index: 2;
  }
  .select-button {
    display: flex;
    flex-direction: column;
  }
  .titulo-h2-select {
    opacity: 0.5;
    position: fixed;
    top: 2;
    width: 100%;
    height: 100%;
    background-image: url("../../img/logo-tranpartente-grande.png");
    background-repeat: repeat;
    z-index: 1;
  }

  .select-ul {
    list-style: none;
    z-index: 2;
    margin: 0% 0% 0% 0%; /* Remova a margem padrão */
     /* Para que os itens possam ser envolvidos para a próxima linha */
  }

  .select-ul li {
     /* Defina a largura do item conforme necessário */
    margin: 0px 5px 0px 0px;
    box-sizing: border-box; /* Certifique-se de que a largura inclua padding e bordas */
  }

  .select-ul-container {
    width: 100%; /* Aumentando a largura do container dos detalhes dos exercícios */
    display: flex;
    flex-wrap: wrap;
    padding: 10px; /* Adicionando um pouco de espaço ao redor dos detalhes dos exercícios */
  }

  .select-h4 {
    margin-bottom: 0px;
    padding: 5px;
    background-color: #000;
    font-family: "Arial", sans-serif;
    font-size: 2em;
    color: #0f0; /* Cor do texto neon */
  }

  .select-detalhes {
    margin-bottom: 10px;
    width: 100%; /* Garantindo que os detalhes ocupem toda a largura do container */
    background-color: #3c4858;
    padding: 10px;
    color: #fff;
  }
  .select-detalhes-p1 {
    font-weight: bold;
    background-color: #0f0;
    color: #000;
    text-align: center;
  }
  .select-detalhes-p2 {
    font-size: larger;
  }
  .select-detalhes-p3 {
    background-color: #fff;
    color: #000;
    font-weight: bold;
  }
  .select-detalhes-icon {
    font-size: 30px;
  }

  .baseboard-select {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 8px;
    background-color: #000000bd;
    z-index: 1;
    margin-top: 2.6em;
  }
}
