@media (min-width: 1191px) {
  .btn {
    /* padding: 0px; */
    font-size: larger;
    position: relative;
    background-color: #000;
    margin: 10px 0px 0px 10px;
    width: 6em;
    color: #fff;
    border-radius: 10px;
    border: none; /* Removi a borda sólida */
    overflow: hidden; /* Para esconder a parte que ultrapassa o botão */
  }
  
  .btn::before {
    font-size: larger;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #00ff00; /* Corrigi a cor da borda */
    z-index: -1;
    animation: neon-border 4s linear infinite;
    background-color: #00ff00;
  }
  
  @keyframes neon-border {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}
@media (min-width: 935px) and (max-width: 1190px) {
  .btn {
    /* padding: 0px; */
    font-size: larger;
    position: relative;
    background-color: #000;
    margin: 10px 0px 0px 20px;
    width: 7em;
    color: #fff;
    border-radius: 10px;
    border: none; /* Removi a borda sólida */
    overflow: hidden; /* Para esconder a parte que ultrapassa o botão */
  }
  
  .btn::before {
    font-size: larger;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #00ff00; /* Corrigi a cor da borda */
    z-index: -1;
    animation: neon-border 4s linear infinite;
    background-color: #00ff00;
  }
  
  @keyframes neon-border {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}
@media (min-width: 541px) and (max-width: 934px) and (max-height: 1200px) {
  .btn {
    /* padding: 0px; */
    font-size: larger;
    position: relative;
    background-color: #000;
    margin: 30px 0px 0px 20px;
    width: 6em;
    color: #fff;
    border-radius: 10px;
    border: none; /* Removi a borda sólida */
    overflow: hidden; /* Para esconder a parte que ultrapassa o botão */
  }
  
  .btn::before {
    font-size: larger;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #00ff00; /* Corrigi a cor da borda */
    z-index: -1;
    animation: neon-border 4s linear infinite;
    background-color: #00ff00;
  }
  
  @keyframes neon-border {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}
@media (min-width: 541px) and (max-width: 934px) and (max-height: 934px) {
  .btn {
    /* padding: 0px; */
    font-size: larger;
    position: relative;
    background-color: #000;
    margin: 0px 0px 0px 20px;
    width: 5em;
    color: #fff;
    border-radius: 10px;
    border: none; /* Removi a borda sólida */
    overflow: hidden; /* Para esconder a parte que ultrapassa o botão */
  }
  
  .btn::before {
    font-size: larger;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #00ff00; /* Corrigi a cor da borda */
    z-index: -1;
    animation: neon-border 4s linear infinite;
    background-color: #00ff00;
  }
  
  @keyframes neon-border {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}
@media (min-width: 350px) and (max-width: 540px){
  .btn {
    /* padding: 0px; */
    font-size: larger;
    position: relative;
    background-color: #000;
    margin: 0px 0px 0px 10px;
    width: 5em;
    color: #fff;
    border-radius: 10px;
    border: none; /* Removi a borda sólida */
    overflow: hidden; /* Para esconder a parte que ultrapassa o botão */
  }
  
  .btn::before {
    font-size: larger;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #00ff00; /* Corrigi a cor da borda */
    z-index: -1;
    animation: neon-border 4s linear infinite;
    background-color: #00ff00;
  }
  
  @keyframes neon-border {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}