@media(min-width: 1101px) {
  .container-menu {
    width: 100%;
    background-color: #333333b3;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .container-menu ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 30px;
    text-align: center;
    position: relative;
  }
  
  .container-menu li {
    display: inline-block;
    margin-right: 20px;
    padding-right: 40px;
    color: #fff;
    font-size: larger;
    
  }
  .container-menu li:hover{
    color:#ff0000
  }
  
  .container-menu li:last-child {
    margin-right: 0;
  }
  
  .container-menu.fixed {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    top: 0;
  }
  
  .link {
    color: #fff;
    text-decoration: none;
    font-size: 35px;
    transition: 1s ease;
  }
  .link:hover {
    color: #ff6347;
  }
  
  .title-h2 {
    display: flex;
    color: #fff;
    margin: auto; 
    margin-left: 20px;
    width: 7%;
    animation: rotante infinite 4s linear;
  }
  
  @keyframes rotante {
    from {
      transform: rotanteY(0deg)
    }
    to {
      transform: rotante(360deg)
    }
  }
  
}

@media(min-width: 801px) and  (max-width: 1100px) {
  .container-menu {
    width: 100%;
    background-color: #333333b3;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .container-menu ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 30px;
    text-align: center;
    position: relative;
  }
  
  .container-menu li {
    display: inline-block;
    margin-right: 20px;
    padding-right: 40px;
    color: #fff;
    font-size: 1.4em;
    font-weight: bold;
    
  }
  .container-menu li:hover{
    color:#ff0000
  }
  
  .container-menu li:last-child {
    margin-right: 0;
  }
  
  .container-menu.fixed {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    top: 0;
  }
  
  .link {
    color: #fff;
    text-decoration: none;
    font-size: larger;
    transition: 1s ease;
  }
  .link:hover {
    color: #ff6347;
  }
  
  .title-h2 {
    display: flex;
    color: #fff;
    margin: auto; 
    margin-left: 20px;
    width: 7%;
    animation: rotante infinite 4s linear;
  }
  
  @keyframes rotante {
    from {
      transform: rotanteY(0deg)
    }
    to {
      transform: rotante(360deg)
    }
  }
}


@media(min-width: 541px) and  (max-width: 800px) {
  .container-menu {
    width: 100%;
    background-color: #333333b3;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .container-menu ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 30px;
    text-align: center;
    position: relative;
  }
  
  .container-menu li {
    display: inline-block;
    margin-right: 20px;
    padding-right: 40px;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    
  }
  .container-menu li:hover{
    color:#ff0000
  }
  
  .container-menu li:last-child {
    margin-right: 0;
  }
  
  .container-menu.fixed {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    top: 0;
  }
  
  .link {
    color: #fff;
    text-decoration: none;
    font-size: larger;
    transition: 1s ease;
  }
  .link:hover {
    color: #ff6347;
  }
  
  .title-h2 {
    display: flex;
    color: #fff;
    margin: auto; 
    margin-left: 20px;
    width: 5%;
    animation: rotante infinite 4s linear;
  }
  
  @keyframes rotante {
    from {
      transform: rotanteY(0deg)
    }
    to {
      transform: rotante(360deg)
    }
  }
}

@media(min-width: 380px) and  (max-width: 540px) {
  .container-menu {
    width: 100%;
    background-color: #333333b3;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .container-menu ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 0px;
    text-align: center;
    position: relative;
  }
  
  .container-menu li {
    display: inline-block;
    margin-right: 20px;
    padding-right: 40px;
    color: #fff;
    font-size: larger;
    
  }
  .container-menu li:hover{
    color:#ff0000
  }
  
  .container-menu li:last-child {
    margin-right: 0;
  }
  
  .container-menu.fixed {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    top: 0;
  }
  
  .link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: 1s ease;
  }
  .link:hover {
    color: #ff6347;
  }
  
  .title-h2 {
    display: flex;
    color: #fff;
    margin: auto; 
    margin-left: 20px;
    width: 7%;
    animation: rotante infinite 4s linear;
  }
  
  @keyframes rotante {
    from {
      transform: rotanteY(0deg)
    }
    to {
      transform: rotante(360deg)
    }
  }
}