@media (min-width: 350px) and (max-width: 540px) {
  .container-contatos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 7%;
  }
  .icon-contatos {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    align-items: center;
  }

  .icon-contatos li {
    list-style: none;
    font-size: 30px;
    color: #5674c9;
    margin: 0px;
    transition: transform 0.5s ease;
  }

  .icon-contatos li:hover {
    transform: rotateX(360deg);
    color: rgb(241, 90, 63);
    cursor: pointer;
  }
  .icon-contatos p {
    font-size: 12px;
    margin: 0px;
  }

  .minha-pagina .container-email label {
    color: #1d1c1c;
    font-size: larger;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
  }
  .minha-pagina .container-email label textarea {
    margin-bottom: 5px;
    border-radius: 5px;
    margin-left: 10px;
    width: 50%;
    height: 9em;
  }
  .minha-pagina .email-input {
    margin: 5px 0px 5px 28px;
    width: 40%;
    height: 35px;
    border-radius: 5px;
  }
  .minha-pagina .container-email button {
    font-size: larger;
    padding: 0px 4px;
    background-color: rgb(105, 73, 68);
    color: #fff;
    width: 20%;
    margin-left: 67%;
    margin-bottom: 10px;
  }
  .minha-pagina .container-email button:hover {
    background-color: rgb(248, 43, 7);
    color: #000;
  }
  .baseboard-contatos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 41.5%;
    padding-top: 26px;
    background-color: #000000bd;
  }
}

@media (min-width: 541px) and (max-width: 934px) {
  .container-contatos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
  }
  .icon-contatos {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    align-items: center;
  }

  .icon-contatos li {
    list-style: none;
    font-size: 3.5em;
    color: #5674c9;

    transition: transform 0.5s ease;
  }

  .icon-contatos li:hover {
    transform: rotateX(360deg);
    color: rgb(241, 90, 63);
    cursor: pointer;
  }
  .icon-contatos p {
    font-size: 1.4em;
    margin: 0px 30px 0px 20px;
  }

  .minha-pagina .container-email label {
    color: #1d1c1c;
    font-size: 1.4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  .minha-pagina .container-email label textarea {
    margin-bottom: 5px;
    border-radius: 5px;
    margin-left: 10px;
    width: 50%;
    height: 6em;
  }
  .minha-pagina .email-input {
    margin: 5px 0px 5px 28px;
    width: 12%;
    height: 25px;
    border-radius: 5px;
  }
  .minha-pagina .container-email button {
    font-size: larger;
    padding: 0px 4px;
    background-color: rgb(105, 73, 68);
    color: #fff;
    width: 20%;
    margin-left: 59%;
    margin-bottom: 10px;
  }
  .minha-pagina .container-email button:hover {
    background-color: rgb(248, 43, 7);
    color: #000;
  }
  .baseboard-contatos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 0%;
    padding-top: 26px;
    background-color: #000000bd;
  }
}

@media (min-width: 541px) and (max-width: 934px) {
  .container-contatos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
  }
  .icon-contatos {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    align-items: center;
  }

  .icon-contatos li {
    list-style: none;
    font-size: 3.5em;
    color: #5674c9;
    margin-top: 30px;
    transition: transform 0.5s ease;
  }

  .icon-contatos li:hover {
    transform: rotateX(360deg);
    color: rgb(241, 90, 63);
    cursor: pointer;
  }
  .icon-contatos p {
    font-size: 1.4em;
    margin: 0px 30px 0px 20px;
  }

  .minha-pagina .container-email label {
    color: #1d1c1c;
    font-size: 1.4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }
  .minha-pagina .container-email label textarea {
    margin-bottom: 5px;
    border-radius: 5px;
    margin-left: 10px;
    width: 50%;
    height: 8em;
  }
  .minha-pagina .email-input {
    margin: 5px 0px 5px 28px;
    width: 22%;
    height: 35px;
    border-radius: 5px;
  }
  .minha-pagina .container-email button {
    font-size: larger;
    padding: 0px 4px;
    background-color: rgb(105, 73, 68);
    color: #fff;
    width: 20%;
    margin-left: 59%;
    margin-bottom: 10px;
  }
  .minha-pagina .container-email button:hover {
    background-color: rgb(248, 43, 7);
    color: #000;
  }
  .baseboard-contatos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 38.5%;
    padding-top: 26px;
    background-color: #000000bd;
  }
}

@media (min-width: 935px) and (max-width: 1190px) {
  .container-contatos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20%;
    padding-bottom: 15em;
  }
  .icon-contatos {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    align-items: center;
  }

  .icon-contatos li {
    list-style: none;
    font-size: 3.5em;
    color: #5674c9;

    transition: transform 0.5s ease;
  }

  .icon-contatos li:hover {
    transform: rotateX(360deg);
    color: rgb(241, 90, 63);
    cursor: pointer;
  }
  .icon-contatos p {
    font-size: 1.4em;
    margin: 0px 30px 0px 20px;
  }

  .minha-pagina .container-email label {
    color: #1d1c1c;
    font-size: 1.4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5em;
  }
  .minha-pagina .container-email label textarea {
    margin-bottom: 5px;
    border-radius: 5px;
    margin-left: 10px;
    width: 50%;
    height: 16em;
  }
  .minha-pagina .email-input {
    margin: 10px 0px 5px 28px;
    width: 18%;
    height: 35px;
    border-radius: 5px;
  }
  .minha-pagina .container-email button {
    font-size: larger;
    padding: 0px 4px;
    background-color: rgb(105, 73, 68);
    color: #fff;
    width: 20%;
    margin-left: 59%;
    margin-bottom: 10px;
  }
  .minha-pagina .container-email button:hover {
    background-color: rgb(248, 43, 7);
    color: #000;
  }
  .baseboard-contatos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 33.2%;
    padding-top: 56px;
    background-color: #000000bd;
  }
}

@media (min-width: 1191px) {
  .container-contatos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 7%;
  }
  .icon-contatos {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    align-items: center;
  }

  .icon-contatos li {
    list-style: none;
    font-size: 3.5em;
    color: #5674c9;

    transition: transform 0.5s ease;
  }

  .icon-contatos li:hover {
    transform: rotateX(360deg);
    color: rgb(241, 90, 63);
    cursor: pointer;
  }
  .icon-contatos p {
    font-size: 1.4em;
    margin: 0px 30px 0px 20px;
  }

  .minha-pagina .container-email label {
    color: #1d1c1c;
    font-size: 1.4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  .minha-pagina .container-email label textarea {
    margin-bottom: 5px;
    border-radius: 5px;
    margin-left: 10px;
    width: 50%;
    height: 6em;
  }
  .minha-pagina .email-input {
    margin: 5px 0px 5px 28px;
    width: 18%;
    height: 35px;
    border-radius: 5px;
  }
  .minha-pagina .container-email button {
    font-size: larger;
    padding: 0px 4px;
    background-color: rgb(105, 73, 68);
    color: #fff;
    width: 20%;
    margin-left: 59%;
    margin-bottom: 10px;
  }
  .minha-pagina .container-email button:hover {
    background-color: rgb(248, 43, 7);
    color: #000;
  }
  .baseboard-contatos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 42px;
    padding-top: 26px;
    background-color: #000000bd;
  }
}
