@media (min-width: 921) {
  .container-baseboard-esquerdo {
    color: #fff;
  }

  .container-baseboard-esquerdo h4 {
    text-align: center;
    margin-left: 20px;
    font-size: 10px;
    color: #fff;
  }
  .container-baseboard-esquerdo p {
    font-size: 10px;
    color: #fff;
  }
}
@media (min-width: 541px) and (max-width: 920px) {
  .container-baseboard-esquerdo {
    color: #fff;
  }

  .container-baseboard-esquerdo h4 {
    text-align: center;
    color: #fff;
  }
  .container-baseboard-esquerdo p {
    color: #fff;
  }
}

@media (min-width: 380px) and (max-width: 540px) {
  .container-baseboard-esquerdo {
    color: #fff;
  }

  .container-baseboard-esquerdo h4 {
    text-align: center;
    font-size: 20px;
    color: #fff;
  }
  .container-baseboard-esquerdo p {
    font-size: 10px;
    color: #fff;
  }
}
