.App {
  padding: 1rem;
  background-color: #fff;
  height: 100vh;
  width: 100vw;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}
.pagination button {
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  font-size: 0.625rem;
  color: #fff;
  background-color: #6c79db;
  border: none;
  border-radius: 1rem;
}

@media (min-width: 350px) and (max-width: 542px) {
  .baseboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
    background-color: #000000bd;
    color: #fff;
  }
}

@media (min-width: 543px) and (max-width: 898px) {
  .baseboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    background-color: #000000bd;
    color: #fff;
  }
}

@media (min-width: 900px) and (max-width: 980px) {
  .baseboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    background-color: #000000bd;
    color: #fff;
  }
}

@media (min-width: 981px) {
  .baseboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
    background-color: #000000bd;
    color: #fff;
  }
}
