@media(min-width: 1101px){

  .container-detalhe-title{
    display: flex;
    justify-content: space-around;
  }

  .container-detalhe-title h2 {
    padding-top: 30px;
    font-weight: bolder;
  }

  .container-detalhe-p {

    display: flex;
    justify-content: space-around;
  }
  .container-detalhe-p p {
    padding-top: 10px;
    text-align: center;
    max-width: 25vw;
  }
}

@media(min-width: 801px) and  (max-width: 1100px) {
  .container-detalhe-title{
    display: flex;
    justify-content: space-around;
  }

  .container-detalhe-title h2 {
    padding-top: 30px;
    font-size: 1.3em;
    font-weight: bolder;
  }

  .container-detalhe-p {
    display: flex;
    justify-content: space-around;
  }
  .container-detalhe-p p {
    padding-top: 10px;
    text-align: center;
    max-width: 30vw;
    font-size: 1em;
  }
}

@media(min-width: 541px) and  (max-width: 800px) {
  .container-detalhe-title{
    display: flex;
    justify-content: space-around;
  }

  .container-detalhe-title h2 {
    padding-top: 30px;
    font-size: 2em;
    font-weight: bolder;
  }

  .container-detalhe-p {

    display: flex;
    justify-content: space-around;
  }
  .container-detalhe-p p {
    padding-top: 10px;
    text-align: center;
    max-width: 50vw;
    font-size: 1.4em;
  }
}

@media(min-width: 350px) and  (max-width: 540px) and (max-height: 934px){
  .container-detalhe-title{
    display: flex;
    justify-content: space-around;
  }
  
  .container-detalhe-title h2 {
    padding-top: 30px;
    font-size: 10px;
    font-weight: bold;
  }
  
  .container-detalhe-p {
  
    display: flex;
    justify-content: space-around;
  }
  .container-detalhe-p p {
    font-size: 10px;
    padding-top: 5px;
    text-align: center;
    max-width: 40vw;
  }
}